body{
    background-color: rgb(158, 214, 195);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
    gap: 10px;
}
#display{
    width: 100%;
    padding: 10px 30px;
    height: 120px;
    background-color: hsl(0, 0%, 21%);
    border: none;
    color: white;
    font-size: 5em;
    text-align: right;
    box-sizing: border-box;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    font-size: 50px;
    background-color: hsl(0, 0%, 35%);
    color: white;
    transition: background-color 0.3s;
    font-weight: bold;
}
button:hover{
   background-color: hsl(0, 0%, 45%); 
}
button:active{
    background-color: hsl(0, 0%, 55%); 
}
#calculator{
    background-color: rgb(27, 26, 26);
    max-width: 500px;
    border-radius: 15px;
    overflow: hidden;
    border: 20px solid rgb(27, 26, 26);
    box-shadow: 5px 5px 10px;
    
}
#operators{
    background-color: hsl(36, 78%, 50%);
    transition: background-color 0.3s;
}
#operators:hover{
    background-color: hsl(36, 78%, 60%);
}
#operators:active{
    background-color: hsl(36, 78%, 70%);
}