#countLabel{
    display: block;
    text-align: center;
    font-size: 8em;
    font-family: Arial, Helvetica, sans-serif;
}
#buttonContainer{
    text-align: center;
    padding: 8px;
}
.button{
    padding: 8px 16px;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: hsl(160, 93%, 57%);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.25s;

}
.button:hover{
    background-color: hsl(160, 71%, 46%);
}